@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'noto-sans';
  src: url('/public/NotoSans-Regular.ttf');
}

.burger-icon{
  align-items: center;
  justify-content: center;
}

.text{
  font-family: "noto-sans", sans-serif;
  color: white;
  font-size: x-large;
}